.grid {
  display: grid;
}

.r2 {
  grid-row: 2;
}

.r3 {
  grid-row: 3;
}

.r4 {
  grid-row: 4;
}

.r5 {
  grid-row: 5;
}

.r6 {
  grid-row: 6;
}

.r6-8 {
  grid-row-start:6;
  grid-row-end:8;
}

.c2 {
  grid-column: 2;
}

.c3 {
  grid-column: 3;
}

.c4 {
  grid-column: 4;
}

.c5 {
  grid-column: 5;
}

.c6 {
  grid-column: 6;
}

.c1-3 {
  grid-column-start:1;
  grid-column-end:3;
}

.c1-4 {
  grid-column-start:1;
  grid-column-end:4;
}

.c2-6 {
  grid-column-start:2;
  grid-column-end:6;
}

.c2-7 {
  grid-column-start:2;
  grid-column-end:7;
}

.c4-6 {
  grid-column-start:4;
  grid-column-end:6;
}

.c4-8 {
  grid-column-start:4;
  grid-column-end:8;
}

.c1-7 {
   grid-column-start:1;
   grid-column-end:7;
}

.c2-7 {
   grid-column-start:2;
   grid-column-end:7;
}

.c5-7 {
  grid-column-start:5;
  grid-column-end:7;
}

.c1-8 {
   grid-column-start:1;
   grid-column-end:8;
}