.map {
	font-family: "Courier New";
	font-weight: bold;
	border-spacing: 0;
	cursor: pointer;
}

table > tr > td {
	padding: 5pt;
}

.b {
	border-width: 0px;
	border-style: solid;
	border-color: rgb(183, 183, 183);
}

.b.a {
	border-width: 2px;
}

.b.l {
	border-left-width: 2px;
}

.b.r {
	border-right-width: 2px;
}

.b.t {
	border-top-width: 2px;
}

.b.d {
	border-bottom-width: 2px;
}