img {
  max-width: 16px;
  max-height: 16px;
}

.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12pt;
}

.content {
  padding: 0 18px;
  display: none;
  overflow:hidden;
}

.active, .collapsible:hover {
  background-color: #5F5F5F;
}