br {
	clear: both;	
}

td {
	padding-right: 20px;
}

summary, .name {
	color: white;
	background: #333333;
	cursor: pointer;
	padding: 18px;
	width: 1fr;
	text-align: left;
	font-size: 24px;
}

summary > span, summary > img, .name > span, .name > img {
	vertical-align: middle;
}

summary > img, .name > img {
	max-width: 32px;
	max-height: 32px;
}

details > section, .content {
	padding: 0 18px;
	font-size: 21px;
}

details[open] > summary, summary:hover, .active, .name:hover {
	background-color: #5F5F5F;
}

.key, .tag {
	border: 1px solid rgb(240, 240, 240);
}

.key {
	padding: 7px;
}

.tag {
	display: inline;
	border-radius: 25px;
	padding: 5px 10px;
}

.left {
	float: left;
	margin-right: 20px;
}

.right {
	float: right;
}
