body {
	margin:0;
}

.help-border {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webit-box-sizing: border-box;
	border: 0.5vh solid #EBEBEB;
}

.base-back {
	background: #141414;
}

.help-back {
	background: #EBEBEB;
}

.base-color {
	color: #141414;
}

.help-color {
	color: #EBEBEB;
}

.s1 {
	width:100%;
	height:100%;
}

.s2 {
	width:100vw;
	height:100vh;	
}

.s3 {
	width:100vw;
}

.abs {
	position: absolute;
}

.rel {
	position: relative;
}

.fix {
	position: fixed;
}

.arial {
	font-family: "Arial";
}

.fs125 {
	font-size: 1.25em;
}

.fs150 {
	font-size: 1.5em;
}

.fs250 {
	font-size: 2.5em;
}

.fs400 {
	font-size: 4em;
}


.pad1 {
	padding: 1%;
}

.mar1 {
	padding: 1%;
}

.flex {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

#All {
	grid-template-rows: 1% 18% auto 55% auto 18% 1%;
	grid-template-columns: 0.5% 20% auto 55% auto 20% 0.5%;
}

#TopPanel
{
	grid-template-rows: 100%;
	grid-template-columns: 1% 27% 1% 49% 21% 1%;
}

#LeftPanel {
	grid-template-rows: 1% 10% auto 10% auto 10% auto 10% auto 10% auto 10% auto 10% auto 10% 1%;
	grid-template-columns: 100%;
}

#MainContent {
	grid-template-rows: 2% 13% 3% 80% 2%;
	grid-template-columns: 2% 9% 6% 5% 5% 71% 2%;
	overflow-y: scroll;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background: #141414;
	color: #EBEBEB;
}

a.button:hover {
background: #EBEBEB;
color: #141414;
}

a.button:active {
background: #FBFBFB;
color: #141414;
}

.left {
	float: left;
}